body {
	width: 100%;
	/* Margin bottom by footer height */
  margin-bottom: 100px;
}

/***********************
*** Battlefield View ***
***********************/
#battlefield-wrapper {
	width: 90%;
	margin: 0 auto;
}

/* Input Row */
.playerEnter {
	text-align: center;
}

#vs {
	text-align: center;
}

.robPic {
	border: 1px dotted blue;
	border-radius: 5px;
}

/* Battleground */
/*.hide {
	display: hidden;
}*/

/* Select Row */
.page-load {
	text-align: center;
}

.robots-load {
	text-align: center;
}
 
button {
	margin: 20px;
}

.transition {
	text-align: center;	
}

.card {
	border: 1px solid blue;
	border-radius: 5px;
	height: 200px;
	overflow: hidden;
} 

/*.battle-dom {
	overflow: hidden;
}*/

/* Footer */
.footer {
/*  position: absolute;
  bottom: 0;*/
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
}

.copy {
  text-align: center;
	padding-top: 15px;
}


